# set super key as modifier
set $mod Mod4

# set path to script
set $ws $HOME/bin/i3-workspace-switcher.py

# set gui options
# see http://effbot.org/tkinterbook/listbox.htm#Tkinter.Listbox.config-method for options description
set $ws_options --borderwidth 10 --selectborderwidth=3 --activestyle=dotbox --relief=flat --font='Ubuntu 16 bold' --background='#551a8b' --foreground '#ffffff'

# bindings - super+tab and super+shift+tab
bindsym $mod+Tab exec --no-startup-id $ws --mod $mod $ws_options
bindsym $mod+Shift+Tab exec --no-startup-id $ws --mod $mod --reverse $ws_options

# run daemon on startup; store 5 last workspaces
exec --no-startup-id $ws --daemon --size 5

# enable floating for switcher window
for_window [class="^I3-workspace-switcher$"] floating enable border none
